<%- include('../partials/header') %>

<table>
    <thead>
      <tr>
        <th>Book Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(function(b) { %>
 
        <tr>
          <td><a href="/books/<%= b.title %>"><%= b.title %></a></td>
          <td><%= b.author %></td>
          <td><%= b.category %></td>
          <td><%= b.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

<%- include('../partials/footer') %>