<%- include('../partials/header') %>

<h2>Book Title: <%= books.title %></h2>
<h2>Author: <%= books.author %></h2>
<h2>Category: <%= books.category %></h2>
<h2>Price: <%= books.price %></h2>


<%- include('../partials/footer') %>