<%- include('../partials/header') %>


<h2>Book Title: <%= books.title %></h2>
<h2>Author: <%= books.author %></h2>
<h2>Category: <%= books.category %></h2>
<h2>Price: <%= books.price %></h2>

<form
    action="/books/<%= books.title %>?_method=DELETE"
    method="POST"
    class="delete-form"
>
 <button type="submit">Remove Book</button>

<form
    action="/books/<%= books.title %>?_method=UPDATE"
    method="PUT"
    class="update-form"
>
 <button type="submit">Update Book</button>

<%- include('../partials/footer') %>