<%- include('../partials/header') %>


<h2>Book Title: <%= book.title %></h2>
<h2>Author: <%= book.author %></h2>
<h2>Category: <%= book.category %></h2>
<h2>Price: <%= book.price %></h2>

<form
    action="/books/<%= book.title %>?_method=DELETE"
    method="POST"
    class="delete-form"
>
 <button type="submit">Remove Book</button>
</form>

<button id="updatebutton"><a href="/books/<%= book.title %>/edit">Update Book</a></button>

<%- include('../partials/footer') %>